* {
   margin: 0;
   padding: 0;
    box-sizing: border-box;
}

button {
    display: block;
}
nav {
    display: flex;
    flex-flow: row nowrap;
}
.canvas {
    width: 960px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.item {
    width: 5px;
    height: 5px;
}

.black {
    background-color: black;
}