* {
   margin: 0;
   padding: 0;
    box-sizing: border-box;
}

button {
    display: block;
}
nav {
    display: flex;
    max-width: 4rem;
}

.buttons {
   display: flex;
   flex-direction: column;
   gap: .5rem;
}
.canvas {
    margin: auto;
    max-width: 75%;
    max-height: 75%;
   display: flex;
   flex-flow: row wrap;
}

.content {
    display: grid;
    grid-template-columns: auto auto;
}

.item {
    width: 0.4rem;
    height: 0.4rem;
}

.black {
    background-color: black;
}